html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    color: #5c3608;
    text-align: center;
}
h1{
    text-shadow: #331e05;
    font-weight: bold;
}
img{
    border: black;
    border-style: solid;
    border-radius: 10%;
}
#content{
    text-align: left;
}
h2{
    line-height: 0;
}

a{
    color: cornflowerblue;
}
